# Conda / environments
miniconda3/
anaconda3/
.env/
.venv/
conda-env/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Compressed data/zips
*.tar.gz
*.zip

# data folder
data/

#My Notes
notes.md

#data files
*.csv
*.xlsx
